@model AircraftDetailModel
@{
    if (Model.NoHead)
    {
        Layout = "_LayoutNoHead";
    }
    else
    {
        Layout = "_Layout";
    }
}
@section HeadPartial{
    <meta name="description" content="@ViewData["Title"]の詳細情報です。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。">
    <meta name="referrer" content="no-referrer" />

    <meta property="og:type" content="article" />
    <meta property="og:description" content="@ViewData["Title"]の詳細情報です。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。" />
    <meta property="og:image" content="https://ja-fleet.noobow.me/images/JA-Fleet_1_og.png" />
    <meta property="og:url" content="https://ja-fleet.noobow.me/@Context.Request.Path" />
    <meta property="og:site_name" content="JA-Fleet【本邦航空会社機材一覧サイト】" />
    <meta content="summary" name="twitter:card" />
    <meta content="@@ja_fleet" name="twitter:site" />
}
<h2>@ViewData["Title"]</h2>
@await Html.PartialAsync("/Views/Shared/ResultDatatableHead.cshtml", ViewData)
<iframe src="/Aircraft/Photo/@Model.Reg" width="100%" height="700"></iframe>
@section ScriptsPartial{
    <script>
        var table;
        $(function () {
            datatablesLangInit();
            let gridheight = "20vh"
            table = $('#' + '@ViewData["TableId"]').DataTable({
                ajax: {url:'@ViewData["api"]',
                    dataSrc: ''
                },
                @await Html.PartialAsync("/Views/Shared/ResultDatatableColumn.cshtml", Model)
            });
        });

    </script>
}