@model AircraftDetailModel
@{
    if (Model.NoHead)
    {
        Layout = "_LayoutNoHead";
    }
    else
    {
        Layout = "_Layout";
    }
}
@section HeadPartial{
    <meta name="description" content="@(Model.Title)の詳細情報です。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。">
    <meta name="referrer" content="no-referrer" />

    <meta property="og:type" content="article" />
    <meta property="og:description" content="@(Model.Title)の詳細情報です。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。" />
    <meta property="og:image" content="https://ja-fleet.noobow.me/images/JA-Fleet_1_og.png" />
    <meta property="og:url" content="https://ja-fleet.noobow.me/@Context.Request.Path" />
    <meta property="og:site_name" content="JA-Fleet【本邦航空会社機材一覧サイト】" />
    <meta content="summary" name="twitter:card" />
    <meta content="@@ja_fleet" name="twitter:site" />
}

@if (!Model.NeedBack)
{
    <h2>@(Model.Title)</h2>
    if (!Model.NoHead)
    {
        <input type="button" value="@Model.AirlineGroupNmae" onclick="location.href='/Aircraft/AirlineGroup/@Model.AV.AirlineGroupCode'" id="airline" class="btn btn-primary btn-xs" />
        <input type="button" value="@Model.AV.AirlineNameJpShort" onclick="location.href='/Aircraft/Airline/@Model.AV.Airline'" id="airline" class="btn btn-primary btn-xs" />
        <input type="button" value="@Model.AV.TypeName" onclick="location.href='/Aircraft/Type/@Model.AV.TypeCode'" id="type" class="btn btn-primary btn-xs" />
        <input type="button" value="@(Model.AV.AirlineNameJpShort)・@(Model.AV.TypeName)" onclick="location.href='/Aircraft/Airline/@Model.AV.Airline/@Model.AV.TypeCode'" id="airlinetype" class="btn btn-primary btn-xs" />
    }
}
else
{
    <h2 style="display:inline;">@(Model.Title)</h2>
    <input type="button" value="戻る" onClick="window.close();" id="back" class="btn btn-primary btn-xs" />
}

@await Html.PartialAsync("/Views/Shared/ResultDatatableHead.cshtml")
<iframe src="/Aircraft/Photo/@(Model.Title)" id="photofr" width="100%" height="700px"></iframe>

@section ScriptsPartial{
    <script>
        var table;
        $(function () {
            $('body').tooltip({selector: '[data-toggle="tooltip"]'});
            datatablesLangInit();
            let gridheight = "20vh"
            table = $('#' + '@(Model.TableId)').DataTable({
                ajax: {url:'@(Model.api)',
                    dataSrc: ''
                },
                @await Html.PartialAsync("/Views/Shared/ResultDatatableColumn.cshtml", Model)
            });
        });
    </script>
}