@model EditModel
@{
    if (Model.NoHead)
    {
        Layout = "_LayoutNoHead";
    }
    else
    {
        Layout = "_Layout";
    }
    if (Model.IsNew)
    {
        Model.Title = "新規";
    }
    else
    {
        Model.Title = Model.Aircraft.RegistrationNumber;
    }
}
@if (Model.IsNew)
{
    <h1>新規</h1>
}
else
{
    <h1 style="display:inline;">@Model.Aircraft.RegistrationNumber</h1>
    <input type="button" value="c" id="copy" class="btn btn-primary btn-xs" data-clipboard-target="#LinkPage">
    <input type="button" value="t" id="tweet"  class="btn btn-primary btn-xs" onClick="location.href = 'https://twitter.com/intent/tweet?text=@(Model.Aircraft.RegistrationNumber)%0a@(Model.LinkPage)';">
}
@Html.HiddenFor(model => model.LinkPage, new { @class = "form-control" })

@if (Model.ex != null)
{
    @Model.ex.ToString()
}
<form asp-action="Store" method="post" class="form-inline">
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.RegistrationNumber, new { @class = "control-label" })

            @Html.TextBoxFor(model => model.Aircraft.RegistrationNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.AirlineList, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Aircraft.Airline,
                                                                                       new SelectList(Model.AirlineList, "AirlineCode", "AirlineNameJpShort"),
                                                                                       "　",
                                                                                       new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.TypeDetailList, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Aircraft.TypeDetailId,
                                                                                            new SelectList(Model.TypeDetailList, "TypeDetailId", "TypeDetailName"),
                                                                                            "　",
                                                                                            new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.SerialNumber, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Aircraft.SerialNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.RegisterDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Aircraft.RegisterDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.OperationList, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Aircraft.OperationCode,
                                                                                          new SelectList(Model.OperationList, "Key", "Value"),
                                                                                          "　",
                                                                                          new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.WiFiList, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Aircraft.WifiCode,
                                                                                                           new SelectList(Model.WiFiList, "Key", "Value"),
                                                                                                           "　",
                                                                                                           new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.SpecialLivery, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Aircraft.SpecialLivery, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.Remarks, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Aircraft.Remarks, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.LinkUrl, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Aircraft.LinkUrl, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.SeatConfig, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Aircraft.SeatConfig,
                                                                                                           new SelectList(Model.SeatConfigurationList, "ConfigId","SeatConfigLong"),
                                                                                                           "　",
                                                                                                           new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.CreationTime, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Aircraft.CreationTime, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.UpdateTime, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Aircraft.UpdateTime, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.NotUpdateDate, new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.NotUpdateDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Aircraft.ActualUpdateTime, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Aircraft.ActualUpdateTime, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="button" value="戻る" class="btn btn-default" onclick="history.back();" />
            <input type="submit" value="登録" class="btn btn-primary" onclick="$('#copy').click();" />
        </div>
    </div>

    @Html.HiddenFor(model => model.IsNew)
    @Html.HiddenFor(model => model.NoHead)
</form>
@section ScriptsPartial{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js" integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous"></script>
    <script>
        new ClipboardJS('.btn', {
            text: function () {
                return document.querySelector('input[type=hidden]').value;
            }
        });

        $('#Aircraft_TypeDetailId').change(function () {
            recreateSeatConfigList();
        });

        $('#Aircraft_Airline').change(function () {
            recreateSeatConfigList();
        });

        const recreateSeatConfigList = function () {
            $.ajax({
            type: 'GET',
                url: '/Master/SeatConfiguration/?airline=' + $('#Aircraft_Airline').val() + "&typeDetailId=" + $('#Aircraft_TypeDetailId').val(),
                cache: false
            }).done(function (data) {
                $('select#Aircraft_SeatConfig option').remove();
                $('select#Aircraft_SeatConfig').append($('<option>').text("").attr('value', ""));
                $.each(data, function (index, seatconfigList) {
                    $('select#Aircraft_SeatConfig').append($('<option>').text(seatconfigList.seatConfigLong).attr('value', seatconfigList.configId));
                });
            });
        };
    </script>
}