@{
    if (Model.IsNew)
    {
        ViewData["Title"] = "新規";
    }
    else
    {
        ViewData["Title"] = Model.Aircraft.RegistrationNumber;
    }
}
@model EditModel
@if (Model.IsNew)
{
    <h1>新規</h1>
}
else
{
    <h1>@Model.Aircraft.RegistrationNumber</h1>
}
@if (Model.ex != null)
{
    @Model.ex.ToString()
}
    <form asp-action="Store" method="post" class="form-inline">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Aircraft.RegistrationNumber, new { @class = "control-label" })

                @Html.TextBoxFor(model => model.Aircraft.RegistrationNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.AirlineList, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Aircraft.Airline,
                                                                                           new SelectList(Model.AirlineList, "AirlineCode", "AirlineNameJpShort"),
                                                                                           "　",
                                                                                           new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.TypeList, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Aircraft.TypeCode,
                                                                                                new SelectList(Model.TypeList, "TypeCode", "TypeName"),
                                                                                                "　",
                                                                                                new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Aircraft.SerialNumber, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Aircraft.SerialNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Aircraft.RegisterDate, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Aircraft.RegisterDate, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.OperationList, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Aircraft.OperationCode,
                                                                                              new SelectList(Model.OperationList, "Key", "Value"),
                                                                                              "　",
                                                                                              new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.WiFiList, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Aircraft.WifiCode,
                                                                                                               new SelectList(Model.WiFiList, "Key", "Value"),
                                                                                                               "　",
                                                                                                               new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Aircraft.Remarks, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Aircraft.Remarks, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Aircraft.LinkUrl, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Aircraft.LinkUrl, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Aircraft.CreationTime, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Aircraft.CreationTime, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Aircraft.UpdateTime, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Aircraft.UpdateTime, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        @if (Model.IsAdmin)
        {
            <div class="row">
                <div class="form-group">

                    <input type="button" value="前のページに戻る" class="btn btn-default" onclick="history.back()" />
                    <input type="submit" value="登録" class="btn btn-primary" />
                </div>
            </div>
        }

        @Html.HiddenFor(model => model.IsNew)
    </form>