@model AircraftModel
@section HeadPartial{
    <meta name="description" content="@ViewData["Title"]の機材（飛行機）一覧ページです。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。">
    <meta name="referrer" content="no-referrer" />

    <meta property="og:type" content="article" />
    <meta property="og:description" content="@ViewData["Title"]の機材（飛行機）一覧ページです。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。" />
    <meta property="og:image" content="https://ja-fleet.noobow.me/images/JA-Fleet_1_og.png" />
    <meta property="og:url" content="https://ja-fleet.noobow.me/@Context.Request.Path" />
    <meta property="og:site_name" content="JA-Fleet【本邦航空会社機材一覧サイト】" />
    <meta content="summary" name="twitter:card" />
    <meta content="@@ja_fleet" name="twitter:site" />
}
@section CssPartial{
    <link rel="stylesheet" href="~/lib/colorbox/css/colorbox.css" />
}
<h2>@ViewData["Title"]</h2>
<div class="form-group">
    @Html.CheckBoxFor(model => model.IncludeRetire)
    @Html.LabelFor(model => model.IncludeRetire, new { @class = "control-label" })
</div>
<font color="#FFCCFF">背景ピンク■</font>は更新1週間以内のデータです。
<table id="@ViewData["TableId"]" class="display cell-border compact dt-body-center nowrap" style="width:100%">
    <thead>
        <tr>
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>登録年月日</th>
            <th>運用</th>
            <th>Wi-Fi</th>
            <th>備考（特別塗装など）</th>
        </tr>
    </thead>
</table>
@section ScriptsPartial{
    <script src="~/lib/colorbox/js/jquery.colorbox-min.js"></script>
    <script>
var table;
$(document).ready(function () {
    var gridheight;
    if (window.innerHeight < 800) {
        gridheight = '60vh';
    } else {
        gridheight = '68vh';
    }
    $.extend( $.fn.dataTable.defaults, {
        language: {
            url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
        }
    });
    table = $('#' + '@ViewData["TableId"]').DataTable({
        ajax: {url:'@ViewData["api"]?includeRetire=' + getIncludeRetire(),
                dataSrc: ''},
        columns: [
            {data: 'airlineNameJpShort',className: 'dt-center'},
            {data: null
            ,render: function ( data, type, row ) {
                        if(row.typeDetailName != null){
                            return row.typeDetailName;
                        }else{
                            return row.typeName;
                        }
                    }
            ,className: 'dt-center'},
            {
                data: 'registrationNumber', render: function (data, type, row, meta) {
                        return '<a href="/Aircraft/Photo/' + data + '">' + data + '</a>';
                },className: 'dt-center'},
            {data: 'serialNumber',className: 'dt-center'},
            {data: 'registerDate',className: 'dt-center'},
            {data: 'operation',className: 'dt-center'},
            {data: 'wifi',className: 'dt-center'},
            {data: 'remarks',className: 'dt-left'}
        ],
        createdRow: function( row, data, dataIndex){
                        if(data['updateTime'] != null){
                            var updateTime = moment(data['updateTime']);
                            var today = moment();
                            if(today.diff(updateTime, 'days', true) <= 7){
                                $(row).css({"background-color":"#FFCCFF"});
                            }
                        }
            },
        paging:   false,
        ordering: false,
        fixedHeader: true,
        searching: false,
        scrollY: gridheight,
        pageResize: true,
        scrollX: true,
        scrollCollapse: true
    });
});

$('#IncludeRetire').change(function () {
    table.ajax.url('@ViewData["api"]?includeRetire=' + getIncludeRetire()).load();
    table.ajax.reload();
});

$("#@ViewData["TableId"]").on("click", "a", function (event) {
    event.preventDefault();
    $(this).colorbox({ iframe: true, width: "80%", height: "90%" });
});
function getIncludeRetire(){
    return $('#IncludeRetire').prop('checked');
}
    </script>
}