@model AircraftModel
@section HeadPartial{
    <meta name="description" content="@(Model.Title)の機材（飛行機）一覧ページです。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。">
    <meta name="referrer" content="no-referrer" />

    <meta property="og:type" content="article" />
    <meta property="og:description" content="@(Model.Title)の機材（飛行機）一覧ページです。JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。" />
    <meta property="og:image" content="https://ja-fleet.noobow.me/images/JA-Fleet_1_og.png" />
    <meta property="og:url" content="https://ja-fleet.noobow.me/@Context.Request.Path" />
    <meta property="og:site_name" content="JA-Fleet【本邦航空会社機材一覧サイト】" />
    <meta content="summary" name="twitter:card" />
    <meta content="@@ja_fleet" name="twitter:site" />
}
@section CssPartial{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
}
<h2>@(Model.Title)</h2>
<div class="form-group">
    @Html.CheckBoxFor(model => model.IncludeRetire)
    @Html.LabelFor(model => model.IncludeRetire, new { @class = "control-label" })
</div>
@await Html.PartialAsync("/Views/Shared/ResultDatatableHead.cshtml")
@section ScriptsPartial{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
    <script>
        var table;
        $(function () {
            let gridheight;
            if (window.innerHeight < 800) {
                gridheight = '60vh';
            } else {
                gridheight = '68vh';
            }

            datatablesLangInit();

            table = $('#' + '@(Model.TableId)').DataTable({
                ajax: {url:'@(Model.api)?includeRetire=' + getIncludeRetire(),
                    dataSrc: ''
                },
                @await Html.PartialAsync("/Views/Shared/ResultDatatableColumn.cshtml", Model)
            });
        });

        $('#IncludeRetire').change(function ()  {
            history.pushState(null, null, "?includeRetire=" + getIncludeRetire());
            table.ajax.url('@(Model.api)?includeRetire=' + getIncludeRetire()).load();
            table.ajax.reload();
        });

        const getIncludeRetire = function ()  {
            return $('#IncludeRetire').prop('checked');
        }

    </script>
}