@model AircraftModel
<h2>@ViewData["Title"]</h2>        
<div class="form-group">
@Html.CheckBoxFor(model => model.IncludeRetire)
@Html.LabelFor(model => model.IncludeRetire, new { @class = "control-label" })
</div>

<table id="@ViewData["TableId"]" class="display cell-border compact dt-body-center nowrap" style="width:100%">
    <thead>
        <tr>
            <th>航空会社</th>
            <th>機種</th>
            <th>機体記号</th>
            <th>製造番号</th>
            <th>登録年月日</th>
            <th>運用</th>
            <th>Wi-Fi</th>
            <th>備考（特別塗装など）</th>
        </tr>
    </thead>
</table>
@section ScriptsPartial{
<script tyep="text/javascript">
var table;
$(document).ready(function() {
    $.extend( $.fn.dataTable.defaults, {
        language: {
            url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
        }
    });
    table = $('#' + '@ViewData["TableId"]').DataTable({
        ajax: {url:'@ViewData["api"]?includeRetire=' + getIncludeRetire(),
                dataSrc: ''},
        columns: [
            {data: 'airlineNameJpShort',className: 'dt-center'},
            {data: 'typeName',className: 'dt-center'},
            {data: 'registrationNumber',className: 'dt-center'},
            {data: 'serialNumber',className: 'dt-center'},
            {data: 'registerDate',className: 'dt-center'},
            {data: 'operation',className: 'dt-center'},
            {data: 'wifi',className: 'dt-center'},
            {data: 'remarks',className: 'dt-left'}
        ],
        createdRow: function( row, data, dataIndex){
                        if(data['updateTime'] != null){
                            var updateTime = moment(data['updateTime']);
                            var today = moment();
                            if(today.diff(updateTime, 'days', true) <= 7){
                                $(row).css({"background-color":"#FFCCFF"});
                            }
                        }
            },
        paging:   false,
        ordering: false,
        fixedHeader: true,
        searching: false,
        scrollY: '700px',
        scrollX: true,
        scrollCollapse: true
    });
});
$('#IncludeRetire').change(function() {
    table.ajax.url('@ViewData["api"]?includeRetire=' + getIncludeRetire()).load();
    table.ajax.reload();
});
function getIncludeRetire(){
    return $('#IncludeRetire').prop('checked');
}
</script>
}