@using jafleet.Manager
@using jafleet.EF
@using jafleet.Util
@{
    ViewData["Title"] = "JA-Fleet【本邦航空会社機材一覧サイト】";
}
@section HeadPartial{
    <meta name="description" content="JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。">
}
<h1></h1>
<img src="~/images/JA-Fleet_1.png" alt="JA-Fleet【本邦航空会社機材一覧サイト】" class="img-responsive" />
<div style="width:50%">
    <a asp-area="" asp-controller="Search" asp-action="Index" class="btn btn-primary btn-lg">検索</a><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#sampleAccordion" href="#ana">
                    ANAグループ
                </a>
            </h3>
        </div>
        <div id="ana" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    <a asp-area="" asp-controller="Aircraft" asp-action="AirlineGroup" asp-route-id="A">全て</a><br />
                </h4>
                @foreach (Airline a in MasterManager.ANA)
                {
                    <h4>
                        <a asp-area="" asp-controller="Aircraft" asp-action="Airline" asp-route-id="@a.AirlineCode">@a.AirlineNameJpShort</a><br />
                    </h4>
                }

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#sampleAccordion" href="#jal">
                    JALグループ
                </a>
            </h3>
        </div>
        <div id="jal" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    <a asp-area="" asp-controller="Aircraft" asp-action="AirlineGroup" asp-route-id="J">全て</a><br />
                </h4>
                @foreach (Airline a in MasterManager.JAL)
                {
                    <h4>
                        <a asp-area="" asp-controller="Aircraft" asp-action="Airline" asp-route-id="@a.AirlineCode">@a.AirlineNameJpShort</a><br />
                    </h4>
                }

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#sampleAccordion" href="#lcc">
                    LCC
                </a>
            </h3>
        </div>
        <div id="lcc" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    <a asp-area="" asp-controller="Aircraft" asp-action="AirlineGroup" asp-route-id="L">全て</a><br />
                </h4>
                @foreach (Airline a in MasterManager.LCC)
                {
                    <h4>
                        <a asp-area="" asp-controller="Aircraft" asp-action="Airline" asp-route-id="@a.AirlineCode">@a.AirlineNameJpShort</a><br />
                    </h4>
                }

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#sampleAccordion" href="#other">
                    その他航空会社
                </a>
            </h3>
        </div>
        <div id="other" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    <a asp-area="" asp-controller="Aircraft" asp-action="AirlineGroup" asp-route-id="L">全て</a><br />
                </h4>
                @foreach (Airline a in MasterManager.Other)
                {
                    <h4>
                        <a asp-area="" asp-controller="Aircraft" asp-action="Airline" asp-route-id="@a.AirlineCode">@a.AirlineNameJpShort</a><br />
                    </h4>
                }

            </div>
        </div>
    </div>
</div>
<hr />
    管理者：<a href="https://twitter.com/noobow">ぬーぼー（@@noobow）</a><br />
    更新情報アカウント：<a href="https://twitter.com/ja_fleet">@@ja_fleet</a><br />
@if (!CookieUtil.IsAdmin(Context))
{
    <a class="twitter-timeline" href="https://twitter.com/ja_fleet?ref_src=twsrc%5Etfw" width="320px" height="400px">Tweets by ja_fleet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}
