@using jafleet.Manager
@using jafleet.Commons.EF
@using jafleet.Util
@model HomeModel
@{
    Model.Title = "Top";
}
@section HeadPartial{
    <meta name="description" content="JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。">

    <meta content="JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。" name="description">

    <meta property="og:type" content="website" />
    <meta property="og:description" content="JA-Fleetは日本国内の航空会社が保有する機材（飛行機）を一覧表示や検索できるサイトです。" />
    <meta property="og:image" content="https://ja-fleet.noobow.me/images/JA-Fleet_1_og.png" />
    <meta property="og:url" content="https://ja-fleet.noobow.me/" />
    <meta property="og:site_name" content="JA-Fleet【本邦航空会社機材一覧サイト】" />
    <meta content="summary" name="twitter:card" />
    <meta content="@@ja_fleet" name="twitter:site" />
}
<h1></h1>
<img src="~/images/JA-Fleet_1.png" alt="JA-Fleet【本邦航空会社機材一覧サイト】" class="img-responsive" />
<a asp-area="" asp-controller="Search" asp-action="Index" class="btn btn-primary btn-lg">検索</a>
<br />
<br />
<div style="width:70%">
    @Html.DropDownList("Airline", new SelectList(MasterManager.AllAirline, "AirlineCode", "AirlineNameJpShort"), new { @class = "form-control", style = "width: 30%;display:inline;" })
    ＆@Html.DropDownList("Type", Enumerable.Empty<SelectListItem>(), new { @class = "form-control", style = "width: 38%;display:inline;" })
    <input type="button" value="クイックリンク" id="quick" class="btn btn-primary btn-sm" />
    <br />
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#sampleAccordion" href="#ana">
                    ANAグループ
                </a>
            </h3>
        </div>
        <div id="ana" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    <a asp-area="" asp-controller="Aircraft" asp-action="AirlineGroup" asp-route-id="A">全て</a><br />
                </h4>
                @foreach (Airline a in MasterManager.ANA)
                {
                    <h4>
                        <a asp-area="" asp-controller="Aircraft" asp-action="Airline" asp-route-id="@a.AirlineCode">@a.AirlineNameJpShort</a><br />
                    </h4>
                }

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#sampleAccordion" href="#jal">
                    JALグループ
                </a>
            </h3>
        </div>
        <div id="jal" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    <a asp-area="" asp-controller="Aircraft" asp-action="AirlineGroup" asp-route-id="J">全て</a><br />
                </h4>
                @foreach (Airline a in MasterManager.JAL)
                {
                    <h4>
                        <a asp-area="" asp-controller="Aircraft" asp-action="Airline" asp-route-id="@a.AirlineCode">@a.AirlineNameJpShort</a><br />
                    </h4>
                }

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#sampleAccordion" href="#lcc">
                    LCC
                </a>
            </h3>
        </div>
        <div id="lcc" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    <a asp-area="" asp-controller="Aircraft" asp-action="AirlineGroup" asp-route-id="L">全て</a><br />
                </h4>
                @foreach (Airline a in MasterManager.LCC)
                {
                    <h4>
                        <a asp-area="" asp-controller="Aircraft" asp-action="Airline" asp-route-id="@a.AirlineCode">@a.AirlineNameJpShort</a><br />
                    </h4>
                }

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#sampleAccordion" href="#other">
                    その他航空会社
                </a>
            </h3>
        </div>
        <div id="other" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>
                    <a asp-area="" asp-controller="Aircraft" asp-action="AirlineGroup" asp-route-id="O">全て</a><br />
                </h4>
                @foreach (Airline a in MasterManager.Other)
                {
                    <h4>
                        <a asp-area="" asp-controller="Aircraft" asp-action="Airline" asp-route-id="@a.AirlineCode">@a.AirlineNameJpShort</a><br />
                    </h4>
                }

            </div>
        </div>
    </div>
</div>
<hr />
    管理者：<a href="https://twitter.com/noobow">ぬーぼー（@@noobow）</a>
<br />
    更新情報アカウント：<a href="https://twitter.com/ja_fleet">@@ja_fleet</a>
<br />
@if (!CookieUtil.IsAdmin(Context) && !Context.Request.Host.ToString().Contains("sakura.ne.jp"))
{
    <a class="twitter-timeline" href="https://twitter.com/ja_fleet?ref_src=twsrc%5Etfw" width="320px" height="400px">Tweets by ja_fleet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}
@if (CookieUtil.IsAdmin(Context))
{
    <hr />
    @:ver：<a href="https://github.com/noobow34/ja-fleet/commit/@MasterManager.AppInfo.CommitHash" target="_blank">@MasterManager.AppInfo.CommitHash _ @MasterManager.AppInfo.CommitDate</a><br />
    @:deploy：@MasterManager.AppInfo.DeployDate<br />
    @:launch：@MasterManager.LaunchDate
}
@if(Context.Request.Host.ToString().Contains("sakura.ne.jp"))
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js" integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous"></script>
<input type="button" value="a" id="copy" class="btn btn-danger btn-xs" data-clipboard-target="#admin">
<input type="hidden" value="@MasterManager.AdminUser.FirstOrDefault()" id="admin" />
}
@section ScriptsPartial{
    <script>
        @if (Context.Request.Host.ToString().Contains("sakura.ne.jp"))
        {
            @:new ClipboardJS('.btn', {
                @:text: function () {
                    @:return document.querySelector('input[type=hidden]').value;
                @:}
            @:});
        }
        $(function () {
            recreateTypeList();
            if (location.hash == "#donate") {
                $('#donate').modal();
            }
        });
        $('#quick').click(function () {
            let dest = '/Aircraft/Airline/' + $('#Airline').val() + '/' + $('#Type').val();
            window.location = dest;
        });
        $('#Airline').change(function () {
            recreateTypeList();
        });

        const recreateTypeList = function () {
            $("#quick").prop("disabled", true);
            $.ajax({
            type: 'GET',
                url: '/Master/AirlineType/' + $('#Airline').val(),
                cache: false
            }).done(function (data) {
                $('select#Type option').remove();
                $.each(data, function (index, typeList) {
                    $('select#Type').append($('<option>').text(typeList.typeName).attr('value', typeList.typeCode));
                });
                $("#quick").prop("disabled", false);
            });
        };
    </script>
}